// Reusable Components
.section-title-container{
    margin-bottom: -3%;
    .section-title{
        width: 88%;
        height: auto;
    }
}

h4.section-sub-title{
    margin: 48px 0;
}

// Connect Section
#connect-section{
    background: $dustyGreen;
    padding: 7.5rem 0;
}

.promotion-section{
    padding-bottom: 7.5rem;
}





