
/* ==========================================================================
   Variable Declarations
========================================================================== */
   // Color Declarations
   $black: #000;
   $dustyGreen: #C3C3B3;
   $dustyLilac: #E1CECC;
   $peach: #EFE1D4;
   // Fonts Sizes
   $h2: 3.9375rem;
   $h4: 2.9375rem;
   $h5: 1.75rem;
   $p1: 1.6875rem;  
   //  Font Family
   $sunset-gothic: 'Gothic A1', sans-serif;
   $garamond: 'Galaxie Copernicus';
   // Responsive Breakpoints
   $XS: 375px;
   $S: 599px;
   $M: 899px;
   $L: 1299px;
   $XL: 1679px;
 



/* ==========================================================================
   Base styles: opinionated defaults
========================================================================== */
   *{
      margin: 0;
      padding: 0;
   }

   body{
      font-family: $garamond;
      /* default font-size / 14px=1rem  */
      color: #000;
   }

   body{
      color: $black;
   }

   main{
      overflow: hidden;
   }

   img{
      width: 100%;
      height: auto;
      object-fit: contain;
   }

   .text-right{
      text-align: right;
   }

   .text-left{
      text-align: left;
   }

   .text-center{
      text-align: center;
   }

   hr{
      background: $peach;
      height: 0.625rem !important;
      opacity: 1;
      margin: 0;

      @media screen and (max-width: $M) {
         height: 0.5rem !important;
      }
   }

   .mt-120{
      margin-top: 7.5rem;

      @media screen and (max-width: $M) {
         margin-top: 3.5rem;
      }
   }

/* ==========================================================================
   Importing Styles
========================================================================== */

@import '../css/style';


/* ==========================================================================
   Custom Container, Grid System
========================================================================== */
   .custom-container {
      max-width: 1560px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: $XL) {
         margin-left: 3.75rem;
         margin-right: 3.75rem;
      }

      @media screen and (max-width: $L) {
         margin-left: 3.75rem;
         margin-right: 3.75rem;
      }

      @media screen and (max-width: $M) {
         margin-left: 1.5rem;
         margin-right: 1.5rem;
      }

      @media screen and (max-width: $S) {
         margin-left: 1rem;
         margin-right: 1rem;
      }
   }

   .row.custom-gutter {
      margin-left: 1.875rem;
      margin-right: 1.875rem;

      @media screen and (max-width: $L) {
         margin-left: 1.25rem;
         margin-right: 1.25rem;
      }

      @media screen and (max-width: $M) {
         margin-left: 0.75rem;
         margin-right: 0.75rem;
      }

      @media screen and (max-width: $S) {
         margin-left: 0.5rem;
         margin-right: 0.5rem;
      }
   }
    
   .row.custom-gutter>div {
      padding-left: 1.875rem;
      padding-right: 1.875rem;

      @media screen and (max-width: $L) {
         padding-left: 1.25rem;
         padding-right: 1.25rem;
      }

      @media screen and (max-width: $M) {
         padding-left: 0.75rem;
         padding-right: 0.75rem;
      }

      @media screen and (max-width: $S) {
         padding-left: 0.5rem;
         padding-right: 0.5rem;
      }
   }


   

/* ==========================================================================
   Fonts
========================================================================== */

   h2{
      font-size: $h2;
      font-family: $sunset-gothic;
      font-weight: 700;
      line-height: 56.7px;
      text-transform: uppercase;
      margin-bottom: 1.5rem;

      @media screen and (max-width: $L) {
         font-size: 3.5rem;
         line-height: 48.7px;
         margin-bottom: 1rem;
      }

      @media screen and (max-width: $M) {
         font-size: 1.5625rem;
         line-height: 22.5px;
         margin-bottom: 0.75rem;
      }

      br{
         @media screen and (max-width: $M) {
            display: none;
         }
      }

   }

   h4{
      font-size: $h4;
      font-family: $garamond;
      font-weight: 400;
      line-height: 47px;
      letter-spacing: -0.03em;

      @media screen and (max-width: $L) {
         font-size: 2rem;
         line-height: 32px;
      }

      @media screen and (max-width: $M) {
         font-size: 1.5rem;
         line-height: 24px;
      }
   }

   h5{
      font-size: $h5;
      font-family: $sunset-gothic;
      font-weight: 700;
      line-height: 25.2px;
      text-transform: uppercase;

      @media screen and (max-width: $L) {
         font-size: 1.5rem;
         line-height: 22.5px;
      }

      @media screen and (max-width: $M) {
         font-size: 0.875rem;
         line-height: 12.3px;
      }
   }

   p{
      font-size: $p1;
      font-family: $garamond;
      font-weight: 400;
      line-height: 32.4px;
      letter-spacing: -0.01em;

      @media screen and (max-width: $L) {
         font-size: 1.25rem;
         line-height: 21.5px;
      }

      @media screen and (max-width: $M) {
         font-size: 1rem;
         line-height: 19.2px;
      }
   }

/* ==========================================================================
   Button
========================================================================== */   
   .btn{
      display: flex;
      align-items: center;
      font-size: $p1;
      font-family: $garamond;
      font-weight: 400;
      height: 4rem;
      padding-right: 2rem;
      padding-left: 2rem;
      border: 1px solid;
      border-radius: 0;
      margin-top: 2rem;
      letter-spacing: -0.01em;

      svg{
         margin-left: 5px;
         margin-top: 5px;
      }

      @media screen and (max-width: $L) {
         font-size: 1.25rem;
         line-height: 21.5px;
         height: 3rem;
         margin-top: 1rem;
      }

      @media screen and (max-width: $M) {
         font-size: 1rem;
         line-height: 19.2px;
         height: 3rem;
         margin-top: 1.375rem;
         padding-right: 1.5rem;
         padding-left: 1.5rem;

      }
   }


   .btn-peach{
      background: $peach;
      border-color: $peach;
   }